<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Encore CSS -->
    {{ encore_entry_link_tags('app') }}
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One&display=swap" rel="stylesheet">
    <!-- Ico-moon Stylesheet -->
    <link rel="stylesheet" href="{{ asset('css/icomoon/style.css') }}">
    
    <!-- lesCityZens screen CSS style -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- lesCityZens tablet CSS style -->
    <link rel="stylesheet" media="(min-width: 768px) and (max-width:991.98px)" href="{{ asset('css/tablet.css') }}">
    <!-- lesCityZens mobile CSS style -->
    <link rel="stylesheet" media="screen and (max-width:767.98px)" href="{{ asset('css/mobile.css') }}">
    
    <!-- Encore JS -->
    {{ encore_entry_script_tags('app') }}
    <title>Connexion</title>
    <style>
        .rescue__connect {
            margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
            transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
        }
    </style>
</head>
<body>

    {% if null != hasError or null != resetConfirm and app.user == null or app.user == null %}
    <main id="connect__without__modal">

        <div class="container">
    
            <div class="row rescue__connect justify-content-md-center">
                <div class="col-lg-4 col-md-6">
                    {% for alerte in app.flashes('success') %}
                        <div class="alert alert-success">{{ alerte | raw }}</div><br>
                    {% endfor %}
        
                    {% if hasError %}
                        <div class="alert alert-danger"><strong>Désolé !</strong> Erreur sur les identifiants.</div>
                    {% endif %}
                    <div class="text-center">
                        <a href="{{ path('home') }}"><img src="{{ asset('images/static/logotype_lcz.svg') }}" alt="Logo LescityZens" width="150"></a>
                    </div><br>
                    <h2 class="text-center title">Connexion</h2>
                    <hr class="mt-4 mb-4">
            
                    <form action="{{ path('connexion') }}" method="post">
            
                        <div class="form-group">
                            <label for="username">Adresse email</label>
                            <input type="text" name="_username" value="{{ username }}" id="username" class="form-control">
                        </div>
            
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control">
                        </div>
            
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
                        <div class="form-group">
                            <button type="submit" class="btn btnSubmit col-12 mt-2">Se connecter</button>
                        </div>
                    </form>
        
                    <div class="text-center mt-4 mb-4 lost__mdp">
                        <a href="{{ path('get_email') }}">Mot de passe oublié ?</a>
                    </div>
        
                    <div class="text-center login__returned"><a href="{{ path('home') }}">Retour vers LesCityZens</a></div>
                </div>
            </div>
        </div>
    </main>
{% endif %}

</body>
</html>

<!-- Modal -->
<div class="modal fade" id="loginModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if hasError %}
                <div class="alert alert-danger"><strong>Désolé !</strong> Erreur sur les identifiants.</div>
                {% endif %}
                <h2>Connexion</h2>
                <i class="icon-cancel close__modal__js"></i>
            </div>
            <div class="modal-body">
    
                <form action="{{ path('connexion') }}" method="post">
        
                    <div class="form-group">
                        <input type="text" name="_username" value="{{ username }}" id="username" class="form-control mb-4" placeholder="Adresse email">
                    </div>
        
                    <div class="form-group">
                        <input type="password" name="_password" id="password" class="form-control mb-4" placeholder="Mot de passe">
                    </div>
        
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
                    <div class="form-group mx-auto col-md-6">
                        <button type="submit" class="btn btnSubmit col-12 mt-2">Se connecter</button>
                    </div>
        
                </form>

                <div class="text-center mt-4 reset__password__modal">
                    <a href="">Mot de passe oublié ?</a>
                </div>
                
            </div>
            <div class="modal-footer">
                <div class="text-center mx-auto">Pas encore de compte ?
                    <a class="doHover ml-2 text-uppercase" href="{{ path('inscription') }}">Inscription</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="lost__password__modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="lost__password__tBlock bg-light">Veuillez saisir votre adresse de messagerie. Un lien permettant de créer un nouveau mot de passe vous sera envoyé par e-mail.</p>
                <i class="icon-cancel close__modal__js"></i>
            </div>
            <div class="modal-body">
        
                <form action="{{ path('lost_password_redirect') }}" method="post">
        
                    <div class="form-group">
                        <input type="text" name="email" value="" id="email" class="form-control mb-4" placeholder="Adresse email">
                    </div>
        
                    <div class="form-group text-center">
                        <button type="submit" class="btn btnSubmit mt-2">Générer un mot de passe</button>
                    </div>
        
                </form>
            </div>
        </div>
    </div>
</div>