{% extends 'admin/base.html.twig' %}

{% set title = 'Listes des références' %}

{% block content %}
    <div class="row">
        <h4 class="title col-md-7">Gestion des références</h4>
        <div class="col-md-5 text-right">
            <a class="btn btnSubmit col" href="{{ path('references_add') }}">Ajouter une référence</a>
        </div>
    </div><br><br>

    {% if references is not empty %}
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="align-top">Photo</th>
                    <th class="align-top">Titre</th>
                    <th class="align-top">Contenu</th>
                    <th class="align-top">Date de publication</th>
                    <th class="align-top" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reference in references %}
                {{ dump(reference) }}
                <tr>
                    <td>
{#                        <div class="imgTab">
                            <img src="{{ asset('images/web/') ~ reference.images }}" alt="{{ reference.titre }}" width="240">
                        </div>#}
                    </td>
                    <td>{{ reference.titre }}</td>
                    <td>{{ reference.description|raw }}</td>

                    <td>{{ reference.createdAt | date('d/m/Y à H:i') }}</td>
                    <td>
                        <a href="{{ path('references_update', { 'id' : reference.id }) }}">
                            <i class="icon-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a class="confirm" href="{{ path('references_delete', { 'id' : reference.id }) }}">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
    <div class="alert alert-danger">
        <strong>Désolé !</strong>
        Il n'existe aucune référence pour l'instant. Veuillez en rajouter.</div>

    {% endif %}


{% endblock %}