{% extends 'base.html.twig' %}

{% set title = 'Accueil' %}

{% block contentFluid %}
    {% for article in article1 %}
        <div class="fondoAccueil1">
            <div class="container">
                <h1 class="titleArtBgW">{{ article.titre }}</h1>
                <div>{{ article.contenu | raw }}</div>
                <img src="{{ asset('images/photos/') ~ article.imageName }}" alt="{{ article.titre }}" class="img-fluid">
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="fondoAccueil2 col-md-6">
            {% for article in article2 %}
                <div class="container">
                    <h2 class="titleArtBgW2">{{ article.titre }}</h2>
                    <div>{{ article.contenu | raw }} <button class="btn btnSubmit"><a href="">c’est par ici !</a></button></div>
                    <img src="{{ asset('images/photos/') ~ article.imageName }}" alt="{{ article.titre }}" class="img-fluid">
                </div>
            {% endfor %}
        </div>
        <div class="fondoAccueil3 col-md-6">    
            {% for article in article3 %}
                <div class="container">
                    <h2 class="titleArtBgW2">{{ article.titre }}</h2>
                    <div>{{ article.contenu | raw }} <button class="btn btnSubmit"><a href="">c’est par ici !</a></button></div>
                    <img src="{{ asset('images/photos/') ~ article.imageName }}" alt="{{ article.titre }}" class="img-fluid">
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="container">
            <h2 class="text-center titleArtBgColor">Ils nous font confiance</h2>
            <div class="partnersLogo">
                <a style="width:200px" class="logoSpondor" href="https://www.logeo-seine-estuaire.fr/" target="_blank"><img src="{{ asset('photo/partners/logo_se.png') }}" alt="Logo logeo-seine-estuaire"></a>
                <a class="logoSpondor" href="https://www.reihabitat.com/" target="_blank"><img src="{{ asset('photo/partners/logo-rei.png') }}" alt="Logo reihabitat"></a>
                <a style="width:200px" class="logoSpondor" href="https://www.realites.com/" target="_blank"><img src="{{ asset('photo/partners/logo_realites.svg') }}" alt="Logo realites"></a>
                <a class="logoSpondor" href="http://www.groupe-bremond.com/" target="_blank"><img src="{{ asset('photo/partners/bremond.jpg') }}" alt="Logo groupe bremond"></a>
                <a class="logoSpondor" href="http://www.eden-promotion.fr/" target="_blank"><img src="{{ asset('photo/partners/eden-promotion.png') }}" alt="Logo eden promotion"></a>
                <a class="logoSpondor" href="https://www.inli.fr/" target="_blank"><img src="{{ asset('photo/partners/logo_inli.svg') }}" alt="Logo inli"></a>
                <a style="width:220px" class="logoSpondor" href="https://www.pichet.com/" target="_blank"><img src="{{ asset('photo/partners/pichet-immobilier.jpg') }}" alt="Logo pichet"></a>
                <a style="width:140px" class="logoSpondor" href="https://www.emerige.com/" target="_blank"><img src="{{ asset('photo/partners/logo_emerige.png') }}" alt="Logo emerige"></a>
                <a style="width:110px" class="logoSpondor" href="https://www.groupegambetta.fr/" target="_blank"><img src="{{ asset('photo/partners/logo_gambetta_group.png') }}" alt="Logo groupe gambetta"></a>
                <a class="logoSpondor" href="https://www.icade.fr/" target="_blank"><img src="{{ asset('photo/partners/icade-logo.svg') }}" alt="Logo icade"></a>
                <a style="width:200px" class="logoSpondor" href="https://www.groupe-legendre.com/" target="_blank"><img src="{{ asset('photo/partners/legendre.png') }}" alt="Logo groupe legendre"></a>
                <a style="width:150px" class="logoSpondor" href="https://www.kaufmanbroad.fr/" target="_blank"><img src="{{ asset('photo/partners/logo_kaufman.jpg') }}" alt="Logo groupe Kaufman & Broad"></a>
                <a style="width:200px" class="logoSpondor" href="https://www.demathieu-bard.fr/" target="_blank"><img src="{{ asset('photo/partners/demathieu.jpg') }}" alt="Logo demathieu bard"></a>
                <a style="width:200px" class="logoSpondor" href="https://www.coopimmo.com/" target="_blank"><img src="{{ asset('photo/partners/CoopImmo.jpg') }}" alt="Logo coopimmo"></a>
                <a style="width:260px" class="logoSpondor" href="https://www.seqens.fr/mentions-legales" target="_blank"><img src="{{ asset('photo/partners/france_habitation.png') }}" alt="Logo france habitation"></a>
                <a class="logoSpondor" href="https://adim.fr/" target="_blank"><img src="{{ asset('photo/partners/adim-logo.svg') }}" alt="Logo Adim"></a>
                <a style="width:160px" class="logoSpondor" href="http://www.altareacogedim.com/" target="_blank"><img src="{{ asset('photo/partners/altarea-cogedim.jpg') }}" alt="Logo ALTAREA COGEDIM"></a>
                <a style="width:120px" class="logoSpondor" href="https://www.solidarites-nouvelles-logement.org/" target="_blank"><img src="{{ asset('photo/partners/logo-snl.png') }}" alt="Logo SOLIDARITES NOUVELLES POUR LE LOGEMENT"></a>
                <a style="width:200px" class="logoSpondor" href="http://www.neolia.fr/" target="_blank"><img src="{{ asset('photo/partners/logo-neolia.jpg') }}" alt="Logo Néolia"></a>
                <a style="width:240px" class="logoSpondor" href="https://www.keredes.coop/" target="_blank"><img src="{{ asset('photo/partners/keredes.png') }}" alt="Logo keredes"></a>
                <a class="logoSpondor" href="" target="_blank"><img src="{{ asset('photo/partners/logo_se.png') }}" alt="Logo..."></a>

            </div>
        </div>
    </div>
{% endblock %}
