{% extends 'admin/base.html.twig' %}

{% set title = 'Listes des articles' %}

{% block content %}
<div class="mb-4">
	<a class="undo" href="{{ path('article') }}">
		<i class="icon-logout1"></i>
	</a>
</div>
	<div class="row">
		<h4 class="title col-md-7">Gestion des articles</h4>
		<div class="col-md-5">
			<a class="btn btnSubmitMulti col" href="{{ path('article_multi_add') }}">Ajouter un article multi</a>
		</div>
	</div><br><br>

	{% if articlesMulti is not empty %}
		<table class="table table-responsive">
			<thead>
				<tr>
					<th class="align-top">Collection des photos</th>
					<th class="align-top">Titre</th>
					<th class="align-top">Description</th>
					<th class="align-top">Date de publication</th>
					<th class="align-top" colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articlesMulti %}
					{#{ dump(article.images) }#}
					<tr>
						<td class="text-center">
							<div class="imgTab mb-3">
								<img src="{{ asset('images/photos/') ~ article.images[0].imageName }}" alt="{{ article.titre }}" width="240">
							</div>
							<a href="{{ path('autre_photos', { 'id' : article.id }) }}">Voir les autres photos</a>
						</td>
						<td width="160">{{ article.titre }}</td>
						<td>{{ article.description | striptags | truncate(200,true) | raw }}</td>
						<td>{{ article.createAt | date('d/m/Y à H:i') }}</td>
						<td>
							<a href="{{ path('article_multi_update', { 'id' : article.id }) }}">
								<i class="icon-pencil"></i>
							</a>
						</td>
						<td>
							<a class="confirm" href="{{ path('article_multi_delete', { 'id' : article.id }) }}">
								<i class="icon-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		<div class="alert alert-danger">
			<strong>Désolé !</strong>
			Il n'existe aucun article pour l'instant. Veuillez en rajouter.</div>

	{% endif %}


{% endblock %}
