{% extends 'admin/base.html.twig' %}

{% set title = 'Tableau de bord' %}

{% block content %}
    
    <div class="row">
        <div class="col">
            <div class="header__pretitle font-weight-bold">aperçu</div>
            <h2 class="font-weight-bold">Tableau de bord</h2>
        </div>
        <div class="col text-right">
            <a class="btn btnSubmit text-white">Faire le rapport</a>
        </div>
    </div>
    <hr><br>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <span class="mb-0 ico__dashboard">
                                <img class="img-fluid" src="{{ asset('images/static/team.svg') }}" alt="team">
                            </span>
                        </div>
                        <div class="col-md-9 text-right">
                            <span class="h3 text-muted mb-0">
                                {% if stats.users > 1 %}
                                    {{ stats.users }} utilisateurs
                                {% else %}
                                    {{ stats.users }} utilisateur
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <span class="mb-0 ico__dashboard">
                                <img class="img-fluid" src="{{ asset('images/static/article.svg') }}" alt="article">
                            </span>
                        </div>
                        <div class="col-md-9 text-right">
                            <span class="h3 text-muted mb-0">
                                {% if stats.articles > 1 %}
                                    {{ stats.articles }} articles
                                {% else %}
                                    {{ stats.articles }} article
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <span class="mb-0 ico__dashboard">
                                <img class="img-fluid" src="{{ asset('images/static/newspaper.svg') }}" alt="newspaper">
                            </span>
                        </div>
                        <div class="col-md-9 text-right">
                            <span class="h3 text-muted mb-0">
                                {% if stats.actus > 1 %}
                                    {{ stats.actus }} actualités
                                {% else %}
                                    {{ stats.actus }} actualité
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <span class="mb-0 ico__dashboard">
                                <img class="img-fluid" src="{{ asset('images/static/job-offer-copie.svg') }}" alt="fishing baits">
                            </span>
                        </div>
                        <div class="col-md-9 text-right">
                            <span class="h3 text-muted mb-0">
                                {% if stats.postulats > 1 %}
                                    {{ stats.postulats }} postulats
                                {% else %}
                                    {{ stats.postulats }} postulat
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <span class="mb-0 ico__dashboard">
                                <img class="img-fluid" src="{{ asset('images/static/fishing-baits.svg') }}" alt="candidature">
                            </span>
                        </div>
                        <div class="col-md-9 text-right">
                            <span class="h3 text-muted mb-0">
                                {% if stats.candidatures > 1 %}
                                    {{ stats.candidatures }} candidatures
                                {% else %}
                                    {{ stats.candidatures }} candidature
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <span class="mb-0 ico__dashboard">
                                <img class="img-fluid" src="{{ asset('images/static/fishing-baits.svg') }}" alt="fishing baits">
                            </span>
                        </div>
                        <div class="col-md-9 text-right">
                            <span class="h3 text-muted mb-0">
                                {#% if stats.postulats > 1 %#}
                                {#% else %#}
                                {#% endif %#}
                                {#{ stats.postulats }#} postulats
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div-->

    </div>

{% endblock %}