{% extends 'base.html.twig' %}

{% set title = 'Contact' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <h3 class="text-center title">Vous avez une question ? Contactez-nous!</h3><br>
        <h5 class="title mt-2">Informations personnelles</h5>
        <hr class="mb-4">
    
        {{ form_start(contactForm) }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_errors(contactForm.Firstname) }}
                    {{ form_widget(contactForm.Firstname, {'attr': {'placeholder': 'Prénom *'}}) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_errors(contactForm.Lastname) }}
                    {{ form_widget(contactForm.Lastname, {'attr': {'placeholder': 'Nom *'}}) }}
                </div>
            </div>
    
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form_errors(contactForm.FromEmail) }}
                    {{ form_widget(contactForm.FromEmail, {'attr': {'placeholder': 'Email *'}}) }}
                </div>
                
                <div class="form-group col-md-5">
                    {{ form_errors(contactForm.Company) }}
                    {{ form_widget(contactForm.Company, {'attr': {'placeholder': 'Société'}}) }}    
                </div>
                    
                <div class="form-group col-md-3">
                    {{ form_errors(contactForm.PhoneNumber) }}       
                    {{ form_widget(contactForm.PhoneNumber, {'attr': {'placeholder': 'Téléphone'}}) }}
                </div>
            </div>
    
            <h5 class="title mt-4">Votre demande concerne</h5>
            <hr class="mb-4">
            {{ form_errors(contactForm.Subject) }}
            {{ form_widget(contactForm.Subject, { 'attr' : { 'placeholder': 'Sujet *', 'class' : 'form-group' } }) }}
            
            {{ form_errors(contactForm.Content) }}
            {{ form_widget(contactForm.Content, { 'attr': { 'placeholder': 'Message *', 'class' : 'form-group' } }) }}

            {#{ form_errors(contactForm.captchaCode) }#}
            {#{ form_row(contactForm.captchaCode) }#}
        
        <hr class="mt-4">
        <div class="champsObligatoires">
            <p>* Champs obligatoires.</p>
            <p>Ces champs sont obligatoires et sont destinés à Les CityZens, responsable du traitement, aux fins d’effectuer l’ensemble des opérations relatives à notre relation commerciale.</p>
        </div>    

        <div class="form-group mx-auto col-lg-5 col-md-6 mt-4">
            <button type="submit" class="btn btnSubmit col-12">Nous contacter</button>
        </div>
    
    
        {{ form_end(contactForm) }}
    
        <br>
    </div>
</div>
    
{% endblock %}

{% block contentFluid %}
    <div class="mapContact">
        <div class="container mt-4 mb-4">
            <h3 class="text-center title mb-4">Où nous trouver ?</h3>
            <div class="lczMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.4300523931424!2d2.3766830157448036!3d48.86907777928849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66de58c1b48ad%3A0xfc5e7e4100eb7ebc!2s11%20Rue%20du%20Moulin%20Joly%2C%2075011%20Paris!5e0!3m2!1sfr!2sfr!4v1573031882679!5m2!1sfr!2sfr" width="800" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="text-center mb-2 mt-4">11bis, Rue du Moulin Joly</div>
            <div class="text-center">75011 Paris</div>
        </div>
    </div>
{% endblock %}