{% extends 'base.html.twig' %}

{% block content %}


<div class="row justify-content-md-center">

    <!-- Formulaire de contact -->
    <div class="col-md-6">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_widget(form.Subject, {'attr': { 'placeholder': 'Objet *'}}) }}

            {{ form_widget(form.Firstname, {'attr': {'placeholder': 'Prénom *'}}) }}

            {{ form_widget(form.Lastname, {'attr': {'placeholder': 'Nom *'}}) }}

            {{ form_widget(form.FromEmail, {'attr': {'placeholder': 'Email *'}}) }}

            {{ form_widget(form.Company, {'attr': {'placeholder': 'Société'}}) }}

            {{ form_widget(form.PhoneNumber, {'attr': {'placeholder': 'Téléphone'}}) }}

            {{ form_widget(form.Content, {'attr': {'placeholder': 'Entrez votre message *'}}) }}

            {{ form_widget(form.SaveAndSend, {'attr': {}}) }}

        {{ form_end(form) }}
    </div>

    <!-- Google map -->
    <div id="map"></div>

{% endblock %}
