{% apply inline_css %}

<style>
    h1 {
        color: #3F3D56;
        font-size: 24px;
        text-align: center;
    }

    .mailBlock {
        width: 70%;
        margin: 1em auto;
        border-style: solid;
        border-width: thin;
        border-color: #dadce0;
        border-radius: 8px;
        padding: 40px 20px;
    }

    .subjectMail {
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        word-break: break-word;
    }

    .mailhead {
        margin-bottom: 1em;
    }

    .email {
        font-size: 20px;
    }

    .img {
        margin: 0 auto 2em auto;
    }

    .centrer {
        text-align: center;
    }

    .button {
        border-radius: 5px;
        padding: 8px 16px;
        margin: 1em auto;
        display: block;
        font-weight: bolder;
        letter-spacing: 0.6px;
        background-color: #D9326F;
        color: #fff;
    }

    .button:hover {
        background-color: rgb(172, 40, 89);
    }

    i {
        margin-right: 8px;
    }

    p,
    a {
        text-align: center;
    }

    p img {
        margin-right: 8px;
    }
</style>
<div class="mailBlock">
    <div class="mailhead">
        <div class="centrer img">
            <img class="centrer" src="{{ email.image('@images/logotype_lcz.svg') }}" alt="Logo Vintage" width="160">
        </div>
        <h1>Bonjour Amandine !</h1>

        <p class="subjectMail">
            Le candidat<strong> {{ user.prenom }} {{ user.nom }}</strong> avec l'email :
        </p>
        {% if user.civilite == 'm' %}
        <p><img src="{{ email.image('@images/man.svg') }}" alt="icon man" width="32">{{ user.email }}</p>
        {% else %}
        <p class="email"><img src="{{ email.image('@images/woman.svg') }}" alt="icon woman" width="32">{{ user.email }}</p>
        {% endif %}

        <p class="subjectMail">
            vient de soumettre sa candidature.
        </p>
    </div>

</div>

{% endapply %}