<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Encore CSS -->
		{{ encore_entry_link_tags('app') }}
		
		{% block stylesheet %}{% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Suez+One&display=swap" rel="stylesheet">
		<!-- Ico-moon Stylesheet -->
		<link rel="stylesheet" href="{{ asset('css/icomoon/style.css') }}">

		<!-- lesCityZens screen CSS style -->
		<link
		rel="stylesheet" media="screen and (min-width: 992px)" href="{{ asset('css/style.css') }}">
		<!-- lesCityZens tablet CSS style -->
		<link
		rel="stylesheet" media="(min-width: 768px) and (max-width:991.98px)" href="{{ asset('css/tablet.css') }}">
		<!-- lesCityZens mobile CSS style -->
		<link
		rel="stylesheet" media="screen and (max-width:640px)" href="{{ asset('css/mobile.css') }}">

		<!-- Encore JS -->
		{{ encore_entry_script_tags('app') }}

		<title>{{ title }}</title>
	</head>

	<body>

		<header>
			<div id="top" class="top">
				<div class="blockLeft">
					<div class="social_media">
						<a href="https://www.facebook.com/LesCityZens/" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="https://twitter.com/lescityzens?lang=fr" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="https://www.linkedin.com/company/lescityzens/about/" target="_blank">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="" target="_blank">
							<i class="fab fa-youtube"></i>
						</a>
					</div>
					<div class="search_bar">
						<form id="search" action="{{ path('article_search') }}" method="post">
							<input type="text" name="query" id="search-input">
							<i class="icon-magnifiying-glass glassIcon"></i>
						</form>
						<div id="result"></div>
					</div>
				</div>
				<div class="blockRight">
					{% if is_granted('ROLE_ADMIN') %}
						<div class="connect">
							<a href="{{ path('admin_dashboard') }}">Tableau de bord</a>
						</div>
					{% endif %}
	
					{% if is_granted('ROLE_USER') %}
					<div class="notifications">
						<a class="bell" href="">
							<i class="icon-bell"></i>
							<span class="ml-2 hide__large__screen">Nouveautés</span>
						</a>
					</div>
					<div class="admin nav-item dropdown userMr">
						<a class="nav-link dropdown-toggle admin" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
							{{ render(url('user_name')) }}</a>
						<div id="userDropdown" class="dropdown-menu" aria-labelledby=" navbardropdown">
							<a class="dropdown-item" href="{{ path('user_profile') }}">
								<i class="icon-user2"></i>
									Mon Compte
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path('deconnexion') }}"><i class="icon-turn-off"></i>
									Déconnexion
							</a>
						</div>
					</div>		
					{% endif %}
					{% if not is_granted('ROLE_USER') %}
						<div class="connect login__js">
							<a href="{{ path('connexion') }}">Se connecter</a>
						</div>
						<div class="register">
							<a href="{{ path('inscription') }}">S'inscrire</a>
						</div>
					{% endif %}
				</div>
			</div>
			<nav id="navBar" class="navbar {{ (title not in ['Accueil', 'Fabrique urbaine collaborative', 'Habitat participatif', 'Informations personnelles', 'Modification mot de passe', 'Candidatures']) ? 'navBarShadow' : '' }}">
				<div class="container">
					<div class="logo">
						<div class="burgerLine">
							<div class="line1"></div>
							<div class="line2"></div>
							<div class="line3"></div>
						</div>
						<div class="logotype">
							<a href="{{ path('home') }}"><img src="{{ asset('images/static/logotype_lcz.svg') }}" alt=""></a>
						</div>
						<div class="iconeProfile">
							<div class="userCircle">
								<i class="icon-user2"></i>
							</div>
							<div class="profiLine">
								<div class="line1"></div>
								<div class="line2"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>
					<ul class="navigation">
						<li class="{{ (title == 'Accueil') ? 'menuActive' : '' }}">
							<a href="{{ path('home') }}">Accueil</a>
						</li>
						<li class="{{ (title == 'Fabrique urbaine collaborative') ? 'menuActive' : '' }}">
							<a href="{{ path('fabrique_urbaine') }}">Fabrique urbaine collaborative</a>
						</li>
						<li class="{{ (title == 'Habitat participatif') ? 'menuActive' : '' }}">
							<a href="{{ path('habitat_participatif') }}">Habitat participatif</a>
						</li>
						<li class="{{ (title == 'Liste des références') ? 'menuActive' : '' }}">
							<a href="{{ path('reference_liste') }}">Références</a>
							{#								<i class="icon-down"></i>#}
						</li>
{#						<li id="angle__toggle__js" class="{{ (title == 'Références de logements participatifs' or title == 'Références en urbanisme collaboratif et concertation') ? 'menuActive' : '' }} ddToggle">

							<ul id="submenu" class="submenu">
								<li>
									<a href="{{ path('logements_participatifs') }}">Références de logements participatifs</a>
								</li>
								<li>
									<a href="">Références en urbanisme collaboratif et concertation</a>
								</li>
							</ul>
						</li id="angle__toggle__js">#}
						<li class="{{ (title == 'Contact') ? 'menuActive' : '' }}">
							<a href="{{ path('contact_email') }}">Contact</a>
						</li>
					</ul>
				</div>
			</nav>

		</header>

		<div class="scrollBtn">
			<div class="scroller">
				<i class="icon-up-arrow"></i>
			</div>
			<div class="textScroll">Retour en haut</div>
		</div>

		<main>

			<div class="loader">
				<div class="spinLoader">
					<img src="{{ asset('images/static/loader.svg') }}" alt="loader vintage">
				</div>
			</div>

			{% block blockFluid %}{% endblock %}

			
			<div class="container">
				{% if title not in ['Inscription', 'Connexion', 'Générer un mot de passe'] %}
					{% for alerte in app.flashes('success') %}
						<div class="alert alert-success">{{ alerte | raw }}</div><br>
					{% endfor %}
					
					{% for alerte in app.flashes('errors') %}
						<div class="alert alert-danger">{{ alerte | raw }}</div><br>
					{% endfor %}
				{% endif %}
				
				{% block form_errors %}{% endblock %}
				{% block content %}{% endblock %}
				{% block collection__type__class %}{% endblock %}
				
			</div>
			
			{% block contentFluid %}{% endblock %}
			
		</main>
		
{#
		<div class="container">{{ render(url('connexion')) }}</div><br>
#}

		{% if app.session.get('cgu_lcz') is empty %}
		<div class="d-flex align-items-center justify-content-between cgu__validation">
			<p class="mb-0">En poursuivant votre navigation sur ce site, vous acceptez nos <a class="text-danger"
					href="{{ path('conditions_utilisation') }}">CGU</a> ainsi que notre <a class="text-danger"
					href="{{ path('privacy_policy') }}">Politique de confidentialité</a></p>
			<a id="cgu_val__js" class="btn btnSubmit" data-url="{{ path('cgu_validation') }}">J'accepte</a>
		</div>
		{% endif %}

		<footer>
			<div class="container pied">
				<span class="copy">&copy;
					{{ 'now' | date('Y') }}
					LesCityZens</span>
				<span class="pipe">|</span>
				<a href="">Presse</a>
				<span class="pipe">|</span>
				{{ render(url('mentions_link')) }}
				<span class="pipe">|</span>
				<a href="">Politique de confidentialité</a>
				<span class="pipe">|</span>
				<a href="{{ path('conditions_utilisation') }}">CGU</a>
				<span class="pipe">|</span>
				<a href="{{ path('join_us_add') }}">Rejoignez-nous</a>
			</div>
		</footer>

		<script>
			window.onload = () => 
			{
				let spin = document.querySelector('.spinLoader').style;
				spin.opacity = 1;
				spin.pointerEvents = 'none';

				function fade() 
				{
					spin.opacity = 0;
				}

				setTimeout(fade, 500);
			}

			$(function () 
			{
				if(null !== $('.rescue__connect')) $('.rescue__connect').hide();

				function changeAngleRow() 
				{
					let angle = $('.icon-down');
					$('#angle__toggle__js').mouseenter(() => {
						$(angle).attr('class', 'icon-up');
						$(angle).css(
						{
							marginLeft	: '0.35em',
							fontSize	: 12+'px',
						});
					});
					$('#angle__toggle__js').mouseleave(() => {
						$(angle).attr('class', 'icon-down');
					});
				}
				changeAngleRow();

				function loginModal() 
				{
					$('.login__js').click((e) => 
					{
						e.preventDefault();
						$('#loginModal').modal('toggle');
					});

					$('.reset__password__modal').click((e) => 
					{
						e.preventDefault();
						$('#lost__password__modal').modal('toggle');
						$('#loginModal').modal('hide');
					});
				}
				loginModal();
				
				function closeLoginModal() 
				{
					$('.close__modal__js').click(() => 
					{
						$('#loginModal').modal('hide');
					});
					$('.close__modal__js').click(() => 
					{
						$('#lost__password__modal').modal('hide');
					});
				}
				closeLoginModal();

				$('footer').css('overflowY', 'hidden');

				function cguValidation() 
				{
					$('#cgu_val__js').click((e) => 
					{
						e.preventDefault();

						let url = $('#cgu_val__js').data('url');
						console.log(url);

						$.ajax({
							method: 'post',
							url: url,
							dataType: 'json',
							success: (response) => 
							{
								//console.log(response);
								if (response.success) 
								{
									$('.cgu__validation').remove();
									console.log(response.success);
									
								} else {
									console.log('Request failed !');
								}

							}
						});

					});
				}
				cguValidation();

			});
		</script>

		{% block javascripts %}{% endblock %}

	</body>
</html>
