<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">  
    <!-- lesCityZens CSS style -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- lesCityZens JS App -->
    <script src="{{ asset('js/app.js') }}"></script>

    <title>{{ title }}</title>
  </head>

  <body>

    <header class="fixed-top">
        <div class="top">
            <div class="social_media">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>
            <div class="search_bar">
                <form id="query" action="" method="post">
                    <input type="text" name="rechercher" id="rechercher">
                    <i class="fas fa-search"></i>
                </form>
            </div>
            <div class="connect"><a href="{{ path('connexion') }}">Se connecter</a></div>
            <div class="disconnect"><a href="">Se déconnecter</a></div>
            <div class="register"><a href="{{ path('inscription') }}">S'inscrire</a></div>
        </div>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="{{ path('home') }}"><img src="{{ asset('photo/logotype_lcz.svg') }}" alt=""></a>
                </div>
                <ul class="navigation">
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Fabrique urbaine collaborative</a></li>
                    <li><a href="">Habitat participatif</a></li>
                    <li><a href="">Références</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <main>
        <div class="container">

            {% for alerte in app.flashes('success') %}
                <div class="alert alert-success">{{ alerte }}</div>
            {% endfor %}

            {% for alerte in app.flashes('errors') %}
                <div class="alert alert-danger">{{ alerte }}</div>
            {% endfor %}

            {% block content %}

            {% endblock %}

        </div>
    </main>

    <footer>
        <div class="container">
            <span class="copy">&copy; {{ 'now' | date('Y') }} Les CityZens</span> | <a href="">Presse</a> | <a href="">Mentions légales</a> | <a href="">Politique de confidentialité</a>
        </div>
    </footer>

    
  </body>
</html>