<!DOCTYPE html>
<html lang="fr">

<head>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Suez+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <!-- Ico-moon Stylesheet -->
        <link rel="stylesheet" href="{{ asset('css/icomoon/style.css') }}">

        <!-- lesCityZens screen CSS style -->
        <link rel="stylesheet" media="screen and (min-width: 992px)" href="{{ asset('css/style.css') }}">
        <!-- lesCityZens tablet CSS style -->
        <link rel="stylesheet" media="(min-width: 768px) and (max-width:991.98px)" href="{{ asset('css/tablet.css') }}">
        <!-- lesCityZens mobile CSS style -->
        <link rel="stylesheet" media="screen and (max-width:767.98px)" href="{{ asset('css/mobile.css') }}">

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- jQuery Ui CDN -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <!-- Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        <!-- lesCityZens JS App -->
        <script src="{{ asset('js/app.js') }}"></script>

        <title>Page d'erreur 403</title>
    </head>
</head>

<body>
    <div class="text-center error__content">
        <img src="{{ asset('photo/undraw_warning_cyit.svg') }}" alt="undraw warning" width="400">
        <h1 class="title mt-4">Erreur 404</h1>
        <p class="mt-2 mb-4"><strong>Désolé !</strong><br> La page n'a pas été trouvée.</p>
        <a class="btn btnSubmitMulti" href="{{ path('home') }}">RETOUR À LA PAGE D'ACCUEIL</a>
    </div>
</body>
</html>