{% extends 'admin/base.html.twig' %}

{% set title = 'Listes des articles' %}

{% block content %}
	<div class="row">
		<h4 class="title col-md-4">Gestion des articles</h4>
		<div class="col-md-4">
			<a class="btn btnSubmit col-12" href="{{ path('article_add') }}">Ajouter un article</a>
		</div>
		<div class="col-md-4">
			<a class="btn btnSubmitMulti col-12" href="{{ path('article_multi') }}">Article multi-images</a>
		</div>
	</div><br><br>

	{% if articles is not empty %}
		<table class="table table-responsive">
			<thead>
				<tr>
					<th class="align-top">Photo</th>
					<th class="align-top">Titre</th>
					<th class="align-top">Catégorie</th>
					<th class="align-top">Contenu</th>
					<th class="align-top">Date de publication</th>
					<th class="align-top" colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>
							<div class="imgTab">
								<img src="{{ asset('images/photos/') ~ article.imageName }}" alt="{{ article.titre }}" width="240">
							</div>
						</td>
						<td>{{ article.titre }}</td>
						<td>{{ (article.categorie == 'actualites') ? 'Actualités' : article.categorie | capitalize }}</td>
						<td>{{ article.contenu | striptags | truncate(200,true) | raw }}</td>
						<td>{{ article.createAt | date('d/m/Y à H:i') }}</td>
						<td>
							<a href="{{ path('article_update', { 'id' : article.id }) }}">
								<i class="icon-pencil"></i>
							</a>
						</td>
						<td>
							<a class="confirm" href="{{ path('article_delete', { 'id' : article.id }) }}">
								<i class="icon-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		<div class="alert alert-danger">
			<strong>Désolé !</strong>
			Il n'existe aucun article pour l'instant. Veuillez en rajouter.</div>

	{% endif %}


{% endblock %}
