{% extends 'base.html.twig' %}

{% set title = 'Modification mot de passe' %}

{% block blockFluid %}
    {% include 'partials/user_navbar_profile.html.twig' with { 'title' : title } %}
{% endblock %}

{% block content %}

{% if app.user %}
<div class="row userProfile">
    <div class="col-md-4 mr-2 menu__user__profile">
        <div class="menuUserInfos">
            <a class="{{ (title == 'Informations personnelles') ? 'menuUserInfosActive' : '' }}"
                href="{{ path('user_profile') }}">
                Informations personnelles
            </a>
            <a class="{{ (title == 'Modification mot de passe') ? 'menuUserInfosActive' : '' }}"
                href="{{ path('reset_password') }}">
                Mot de passe
            </a>
            <a class="{{ (title == 'Calendrier') ? 'menuUserInfosActive' : '' }}" href="{{ path('calendrier_index') }}">
                Calendrier
            </a>
        </div>
    </div>
    <div class="col-md-8 userInfosBlock">
        
        <div id="mdp" class="uibChild">
            <h1>Nouveau mot de passe</h1>
            <hr class="mb-4">
            
            {{ form_start(ResetPasswordForm) }}

            {{ form_row(ResetPasswordForm.oldPassword, { 'label' : 'Mot de passe actuel' }) }}
            
            {{ form_rest(ResetPasswordForm) }}
            
            <div class="form-group mx-auto col-md-4 mt-4 profile__btn__submit">
                <button type="submit" name="soumission" class="btn btnSubmit col-12">Enregistrer</button>
            </div>
            
            {{ form_end(ResetPasswordForm) }}
        </div>
    </div>
</div><br>
{% endif %}

{% endblock %}