{% extends 'base.html.twig' %}

{% set title = 'Modification du mot de passe' %}

{% block content %}

{% if app.user %}
<div class="row userProfile">
    <div class="col-md-4 mr-2">
        <div class="menuUserInfos">
            <a class="{{ (title == 'Informations personnelles') ? 'menuUserInfosActive' : '' }}"
                href="{{ path('user_profile') }}">
                Informations personnelles
            </a>
            <a class="{{ (title == 'Modification du mot de passe') ? 'menuUserInfosActive' : '' }}"
                href="{{ path('reset_password') }}">
                Mot de passe
            </a>
        </div>
    </div>
    <div class="col-md-8 userInfosBlock">
        
        <div id="mdp" class="uibChild">
            <h1>Nouveau mot de passe</h1>
            <hr class="mb-4">
            
            {{ form_start(ResetPasswordForm) }}

            {{ form_row(ResetPasswordForm.oldPassword, { 'label' : 'Mot de passe actuel' }) }}
            
            {{ form_rest(ResetPasswordForm) }}
            
            <div class="form-group mx-auto col-md-4 mt-4">
                <button type="submit" name="soumission" class="btn btnSubmit col-12">Enregistrer</button>
            </div>
            
            {{ form_end(ResetPasswordForm) }}
        </div>
    </div>
</div><br>
{% endif %}

{% endblock %}
