
{% if user.userCoordonnees is empty and user.civilite == 'f' %}

<i class="icon-avatar-1"></i>{{ user.prenom }}

{% endif %}

{% if user.userCoordonnees is empty and user.civilite == 'm' %}

<i class="icon-avatar"></i>{{ user.prenom }}
    
{% endif %}

{% if user.userCoordonnees is not empty and user.civilite == 'f' and user.userCoordonnees.avatar is empty %}

<i class="icon-avatar-1"></i>{{ user.prenom }}

{% endif %}

{% if user.userCoordonnees is not empty and user.civilite == 'm' and user.userCoordonnees.avatar is empty %}

<i class="icon-avatar"></i>{{ user.prenom }}
    
{% endif %}

{% if user.userCoordonnees is not empty and user.userCoordonnees.avatar is not empty %}
<span class="smAvatar">
    <img src="{{ asset('images/photos/') ~ user.userCoordonnees.avatar }}" alt="{{ user.prenom }}" class="img-fluid">
</span>
    
{% endif %}